h1
{
  color : red;
  font-size: 100px;
}
img
{
  background-color: red;
}
.bacon
{
  background-color: green;
}
.brocolli
{
  background-color: blue;
}

img:hover
{
  background-color: gold;
}

#Heading
{
  color: blue;
}
